.Header {
    width: 80%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightcoral;
    color: white;
    padding: 0 10%;
}

.Header:hover {
    color: lightcoral;
}

.Header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.Header li {
    margin: 0 1rem;
}

.Header a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

.Header a:hover, .Header a:active {
    color: #282c34;
}

.Header button {
    font-size: 1.25rem;
    background-color: #ffbb00;
    border: 1px solid #ffbb00;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    color: #2c2922;
}

.Header button:hover,
.Header button:active {
    background-color: #ffa600;
    border-color: #ffa600;
}